.form{
    background-color: blanchedalmond;
    height: 115vh;
    display: flex;
    justify-content: center;
    gap: 15px;
}
.form-text{
    background-color: chartreuse;
    height: 100%;
    width: 35%;
}
.form-pic{
    background-color: darkolivegreen;
    height: 100%;
    width: 25.5%;
}
.form-contact{
    position: relative;
    height: 100%;
    width: 25.5%;
    background-image: url(/src/assets/form-back.webp);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.form-contact::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #96bb7c8c; /* Green color with 50% opacity */
    z-index: 1; /* Ensure the overlay is above the background image */
}
.form-heading{
    background-color: crimson;
    width: 90%;
    height: auto;
    font-size: 60px;
    font-weight: 400;
    margin: 35px 0;
}
.form-para1,.form-para2{
    background-color: cornflowerblue;
    width: 90%;
    height: auto;
    font-size: 16px;
    font-weight: 400;
    color:rgb(102, 102, 102);
    line-height: 29px;
    margin: 20px 0;
}
.form-pic img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.form-head{
    background-color: brown;
    height: 15%;
    width: 100%;
    z-index: 2;
}
.form-box{
    background-color: gainsboro;
    height: 55%;
    width: 100%;
    z-index: 2;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}
.form-btn{
    background-color: dodgerblue;
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}
.normal{
    background-color: darkgray;
    height: 50%;
    width: 100%;
    font-size: 14px;
    font-weight: 400;
    display: flex;
    align-items: flex-end;
    color: white;
}
.bold{
    background-color: cadetblue;
    height: 50%;
    width: 100%;
    font-size: 28px;
    font-weight: 700;
    display: flex;
    align-items: center;
    color: white;
}
.form-btn button{
    background-color: #96BB7C;
    height: 90%;
    width: 70%;
    border: 0;
    color: white;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
}
.inpt{
    font-size: 20px;
    height: 15%;
    width: 90%;
}
@media screen and (max-width:500px) {
    .form{
        height: auto;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .form-pic{
        width: 93%;
    }
    .form-contact{
        width: 93%;
    }
    .form-text{
        height: auto;
        width: 93%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .form-heading{
        font-size: 45px;
        margin: 15px 0;
    }
    .form-para1,.form-para2{
        margin: 15px 0;
    }
    .form-pic{
        height: 75vh;
    }
    .form-contact{
        height: 75vh;
    }
}