.main2{
    height: 115vh;
    background-image: url(/src/assets/bg-2.webp);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: flex-end;
}
.main2-content{
    /* background-color: darkgoldenrod; */
    height: 20%;
    width: 30%;
    margin: 0 0 85px 70px;
}
.main2-breadcrumb{
    /* background-color: aquamarine; */
    height: 27%;
    width: 100%;
}
.main2-heading{
    /* background-color: darkslateblue; */
    height: 70%;
    width: 100%;
    font-size: 60px;
    font-weight: 400;
}
.link{
    text-decoration: none;
    font-size: 13px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.7);
}
.link:hover{
    color: rgb(150, 187, 124);
}
.greater{
    color: rgb(150, 187, 124);
    margin: 1px 5px;
    width: 10px;
    height: 13px;
}
@media screen and (max-width:500px) {
    .main2-content{
        width: 100%;
        margin-left: 45px;
    }
    .main2{
        height: 60vh;
    }
    .link{
        font-size: 12px;
    }
    .main2-heading{
        font-size: 45px;
    }
    
}